@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: RedRose Light;
  src: url("../src/assets/fonts/RedRose-Light.ttf");
}
@font-face {
  font-family: RedRose Regular;
  src: url("../src/assets/fonts/RedRose-Regular.ttf");
}
@font-face {
  font-family: RedRose Medium;
  src: url("../src/assets/fonts/RedRose-Medium.ttf");
}
@font-face {
  font-family: RedRose SemiBold;
  src: url("../src/assets/fonts/RedRose-SemiBold.ttf");
}
@font-face {
  font-family: RedRose Bold;
  src: url("../src/assets/fonts/RedRose-Bold.ttf");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: RedRose Regular, serif; */
  font-family: "Red Rose", cursive;
}
